{% extends "templates/base.html" %}

{% block message_body %}

<table class="table table-bordered table-condensed">
    {% if 'ip_address' in content %}
    <tr>
        <td class="col-md-2">Internal Address</td>
        <td class="col-md-10">{{content['ip_address']}}</td>
    </tr>
    {% endif %}
    {% if 'approve' in content['urls'] %}
    <tr>
        <td class="col-md-2">Approve</td>
        <td class="col-md-10">
            <a href="{{content['urls']['approve']}}" class="btn btn-success btn-lg" role="button">Approve</a>
            <a href="{{content['urls']['reject']}}" class="btn btn-danger btn-lg" role="button">Reject</a>
        </td>
    </tr>
    {% endif %}
</table>

{% endblock %}