{% extends "templates/base.html" %}



{% block message_body %}

<div class="card mx-auto center-text" style="max-width: 500px;">

    <!--Build ID-->
    {% if 'build_id' in content %}
    <div class="card-header">
        Build ID
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{content['build_id']}}</li>                       
    </ul>
    {% endif %}

    <!--Build Type-->
    {% if 'build_type' in content %}
    <div class="card-header">
        Build Type
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{content['build_type']}}</li>                       
    </ul>
    {% endif %}

    <!--Private key-->
    {% if 'private_key' in content %}
    <div class="card-header">
        Private Key
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{content['private_key']}}</li>                       
    </ul>
    {% endif %}

    <!--Instance ID-->
    {% if 'instance_id' in content %}
    <div class="card-header">
        Instance ID
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{content['instance_id']}}</li>                       
    </ul>
    {% endif %}

    <!--Availability Zone-->
    {% if 'availability_zone' in content %}
    <div class="card-header">
        Availability Zone 
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{content['availability_zone']}}</li>                       
    </ul>
    {% endif %}

    <!--Private IP-->
    {% if 'private' in content['ip'] %}
    <div class="card-header">
        Private IP
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{content['ip']['private']}}</li>                       
    </ul>
    {% endif %}

    <!--Public IP-->
    {% if 'public' in content['ip'] %}
    <div class="card-header">
        Public IP
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{content['ip']['public']}}</li>                       
    </ul>        
    {% endif %}              

    <!--Endpoint Action-->
    {% if 'approve' in content['urls'] %}
    <div class="card-header">
        Endpoint Action
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="{{content['urls']['approve']}}" class="btn btn-success mx-2">Accept</a>                              
            <a href="{{content['urls']['reject']}}" class="btn btn-danger mx-2">Reject</a>                         
        </li>                       
    </ul>
    {% endif %}

</div> 

{% endblock %}